{
  "src/*.{js,json,md,html}": [
    "prettier --write"
  ],
  "src/*.css": [
    "npm run stylelint:fix",
    "prettier --write"
  ],
  "src/*.{jsx,tsx,ts}": [
    "npm run lint",
    "prettier --write"
  ]
}
