.root {
	animation: 1.4s linear 0s infinite normal none running rotation;
}

.svg {
	stroke: currentcolor;
	stroke-dasharray: 80px, 200px;
	stroke-dashoffset: 0;
	stroke-width: 3;
	animation: 1.4s ease-in-out 0s infinite normal none running animate;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate {
	0% {
		stroke-dasharray: 1px, 200px;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 100px, 200px;
		stroke-dashoffset: -15px;
	}

	100% {
		stroke-dasharray: 100px, 200px;
		stroke-dashoffset: -125px;
	}
}
