@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		text-rendering: optimizespeed;
		font-feature-settings: 'kern';
		-webkit-text-size-adjust: 100%;
	}
}
